body {
    text-align: center;
    font-family: 'Hachi Maru Pop', cursive;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    color: #85653c;
}

.catList {
    display: grid;
    gap: 50px;
    /* ねこの基本情報と画像のサイズが400px確保できるときは２列に */
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    max-width: 1000px;
    margin: auto;
    padding: 50px;
}

.catList img {
    width: 100%;
    /* 画像の比率を4:3に設定 ブラウン管テレビの縦横比 */
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 20px;
}

h1 {
    margin: 30px 0;
    font-size: 40px;
    font-weight: bold;
}

.catList h2 {
    margin-bottom: 30px;
    font-size: 25px;
}

.info {
    margin-top: 70px;
}

.info p {
    line-height: 1.7;
}