@charset "utf-8";

/* --- 変数定義 --- */
:root {
  --main-color: #ffffff;
  --top-background-color:rgb(253, 248, 241);
  --top-btn-color: #4c4f67;
  --top-accent-color: rgb(226, 212, 193);
  --sub-accent-color: rgb(227, 223, 247);
  --base-font-color: #2c2c2c;
  --base-font-family: 'Catamaran','Noto Sans JP',sans-serif;
  --base-font-size: 1.6rem;
  --container-width: 1100px;
}

/* --- 共通設定 --- */
html {
    /* 1rem = 10px にするための設定 */
    font-size: 62.5%;
  }
body {
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    line-height: 1.5;
    color: var(--base-font-color);
}
img {
    max-width: 100%;
}

/* ------------------top page------------------ */
.topPage {
    background-color: var(--top-background-color);
}

/* Loading設定 */
#loading {
    background-color: #dddddd;
    position: fixed;
    z-index: 9999;
    inset: 0;
    display: grid;
    place-items: center;
}
.spinner{
    position: relative;
}

/* ローディング中のひし形のアニメーション */
.loopingRhombusesSpinner {
  width: calc(15px * 4);
  height: 15px;
  position: relative;
  top: 50%;
}
.loopingRhombusesSpinner .rhombus {
  height: 15px;
  width: 15px;
  background-color: var(--main-color);
  left: calc(15px * 4);
  position: absolute;
  margin: 0 auto;
  border-radius: 2px;
  transform: translateY(0) rotate(45deg) scale(0);
  animation: looping-rhombuses-spinner-animation 2500ms linear infinite;
}
.loopingRhombusesSpinner .rhombus:nth-child(1) {
  animation-delay: calc(2500ms * 1 / -1.5);
}
.loopingRhombusesSpinner .rhombus:nth-child(2) {
  animation-delay: calc(2500ms * 2 / -1.5);
}
.loopingRhombusesSpinner .rhombus:nth-child(3) {
  animation-delay: calc(2500ms * 3 / -1.5);
}
@keyframes looping-rhombuses-spinner-animation {
  0% {
    transform: translateX(0) rotate(45deg) scale(0);
  }
  50% {
    transform: translateX(-233%) rotate(45deg) scale(1);
  }
  100% {
    transform: translateX(-466%) rotate(45deg) scale(0);
  }
}

/* JavaScriptで使用するloading画面を少しずつ非表示にするクラス */
.loaded {
  transition: all 3s;
  opacity: 0;
  visibility: hidden;
}

/* ヘッダー設定 */
.topContainer {
    position: relative;
    padding: 1rem;
    height: 100vh;
    margin-bottom: 10rem;
}
.topContainer img#topImg {
    width: 100%;
    height: 100vh;
    filter: brightness(90%); 
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;
}
.topContainer .content {
    position: absolute;
    top: 30%; 
    left: 40%; 
    transform: translate(-50%,-50%); 
    width: 80%;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleText {
    color: var(--main-color);
    font-size: 4rem;
    letter-spacing: .2em;
    text-shadow: 2px 2px 4px #000000;
}
.titleLogo {
    height: 5rem;
    width: auto;
    transform: translateY(-4.5rem);
    filter: invert(100%) drop-shadow(2px 2px 4px #000000);
    background-color: transparent;
}
#topBtn{
    background-color: var(--top-btn-color);
    padding: 1rem 2rem;
    font-size: var(--base-font-size);
    color: var(--main-color);
    border-radius: 0.5rem;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 90%; /* ← 80%から90%に変更で下部へ */
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

/* メイン設定 */
.linkList {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 2rem auto 0 auto; 
  justify-content: space-around;
}
.linkList {
  padding: 0 2rem;
}
.linkList li {
  margin-bottom: 4rem;
}
.linkList li a {
  display: block;
  background-color: var(--top-accent-color);
}
.linkList img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
}
.linkList li a span {
  display: block;
  padding: 1.2rem 1.5rem 1rem;
  font-size: var(--base-font-size);
}
.linkList li a:hover {
  filter: brightness(105%);
}

/* JavaScriptで使用する夜テーマへ切り替えのクラス */
.nightTheme {
  --top-background-color: rgb(42,53,65);
  --base-font-color: #ffffff;
  --top-accent-color: #8e8d92;
  --top-btn-color: #d5922d;
}

/* sub page共通設定*/
.subPage header {
  border-top: 14px solid var(--sub-accent-color);
  padding-top: 40px;
  margin-bottom: 30px;
}
.subPage header h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: .17em;
  text-transform: uppercase;
}
.subPage header h1 span {
  background-image: linear-gradient(135deg,#e6ba5d 0%,#9ac78a 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.subPage h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: .17em;
  margin-bottom: 1rem;
}
.subPage main {
  padding: 0 20px;
}
footer {
  margin-top: 60px;
  padding-top: 68px;
}
footer p {
  background-color: var(--sub-accent-color);
  color: var(--main-color);
  text-align: right;
  font-size: .8em;
  padding: 1.5rem ;
}
footer p img {
  margin-left: .5em;
  width: 2.5em;
  filter: invert(100%);
  background-color: transparent;
}

/* ------------------concept page------------------ */
.conceptDetailSec p img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: center 90%;
}
.conceptDetailSec .text {
  font-size: var(--base-font-size);
  line-height: 1.78;
}
.conceptDetailSec {
  margin-bottom: 50px;
}
.conceptDetailSec .photo {
  margin-bottom: 14px;
}

/* ------------------info page------------------ */
.map iframe {
  width: 100%;
  height: 240px;
  margin-bottom: 8px;
}
.map {
  font-size: var(--base-font-size);
  margin-bottom: 60px;
}
.photoGarelly {
  display: grid;
  grid-template-rows: 40vw 30vw 30vw 40vw 40vw;
  grid-template-columns: 50% 50%;
}
.item01 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.item02 {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}
.item03 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.item04 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
.item05 {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}
.item06 {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}
.item07 {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}
.photoGarelly li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------reserve page------------------ */
.subPage .photo {
  margin-bottom: 5rem;
}
.subPage .photo img {
  height: 20em;
  width: 100%;
  object-fit: cover;
  object-position: center 90%;
  margin-bottom: 1rem;
}
form {
  width: max(30vw,40rem);
  margin: 0 auto;
}
form p { margin-bottom: 1.5rem;}
label {
  font: 1.5rem "Fira Sans", sans-serif;
  display: block;
  margin-bottom: 1rem;
}
input, label { margin: 0.4rem 0; }
input[type="radio"] { margin: 0 1rem;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
  background-color: rgb(240, 236, 243);
  width: 100%;
  padding: 1rem;
}
textarea {height: 15rem;}
input[type="checkbox"]{ margin: 0 1rem; }
#count {
  display: block;
  text-align: right;
  line-height: 5rem;
}
.isAgree { margin-bottom: 5rem; }
input[type="button"] {
  background: #cccccc;
  color: var(--main-color);
  border-radius: 0.4rem;
  padding: 1rem 4rem;
  display: block;
  margin: 0 auto;
}
.required label::after {
  content: "（必須）";
  vertical-align: middle;
}
.alert { color: #f66; }
#btn:disabled {
  background: #dddddd;
  color: #cccccc;
}

/* 写真のアニメーション */
.colorFadeIn {
  animation-name: fade-in-color;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  filter: grayscale(100%);
}
@keyframes fade-in-color {
  from {
    filter: grayscale(100%); /* 開始時は白黒 */
  }
  to {
    filter: grayscale(0%); /* 終了時はフルカラー */
  }
}

/* PC対応 */
@media screen and (min-width: 920px) {
  /* トップページ */
  .topPage {
    display: flex;
  }
  .topPage header {
    flex-basis: 38%;
  }
  .topPage main {
    flex-basis: 62%;
  }
  .logo-icon {
    width: 30px;
  }
  .logo-text {
    font-size: 1.2em;
  }
  .linkList {
    margin-top: 5rem;
  }
  .linkList li {
    flex-basis: 47%;
    margin-bottom: 20px;
  }
  .linkList::before {
    content: "";
    width: 47%;
    background: url(../img/star.png) no-repeat center center/50%;
  }
  .topPage main {
    display: flex;
    align-items: center;
  }
  .topPage header {
    height: 100vh;
    margin-bottom: 0;
  }
  /* サブページ共通 */
  .subPage main {
    max-width: 1280px;
    margin: 0 auto;
  }
  .subPage header h1 {
    font-size: 6rem;
  }
  .onlySP {
    display: none;
  }
  .subPage h2 {
    font-size: 4rem;
    margin-bottom: 36px;
  }
  /* CONCEPTページ */
  .conceptDetailSec {
    display: grid;
    grid-template-rows: 360px 360px;
    grid-template-columns: 40% 60%;
  }
  .conceptDetailSec .photo {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
  .conceptDetailSec .text {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  .conceptDetailSec .photo img {
    height: 720px;
  }
  .conceptDetailSec .text {
    text-align: center;
    font-size: 16px;
  }
  .reverse {
    grid-template-columns: 60% 40%;
  }
  .reverse .photo {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
  .reverse .text {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
   /* INFOページ */
  .photoGarelly {
    grid-template-rows: 175px 175px 290px;
    grid-template-columns: 50% 20% 30%;
  }
  .item01 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
  .item02 {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
  .item03 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }
  .item04 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }
  .item05 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  .item06 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }
  .item07 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }
}
/* ------------------- ハンバーガーメニュー -------------------*/
/* メニューを画面上部に固定表示 */
.gMenu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
/* メニューアイコンを画面右上に固定 */
.gMenu .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
  padding-top: 5px;
  height: 12px;
}
/* メニューアイコン（三本線）の真ん中の線 */
.gMenu .menu-icon .navicon {
  background: rgb(106, 110, 128); 
  filter: drop-shadow(.1rem .1rem .1rem #fff);
  display: block;
  height: 4px; 
  width: 35px; 
  position: absolute;
  transition: background .4s ease-out; /* 形が変わる時のアニメーション */
}
/* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
.gMenu .menu-icon .navicon::before {top: 10px;} 
.gMenu .menu-icon .navicon::after {top: -10px;} 
.gMenu .menu-icon .navicon:nth-child(1){top: 10px;} 
.gMenu .menu-icon .navicon:nth-child(2){top: 0;}
.gMenu .menu-icon .navicon:nth-child(3){top: -10px;} 
/* 表示されるメニュー */
.gMenu .menu {
  background-color: rgba(255,255,255,0.9);
  overflow: hidden;
  max-height: 0; /* ★最初は高さを0にして非表示状態に */
  transition: max-height .6s; /* 表示されるときのアニメーション */
  text-align: center;
}
/* メニュー部分のデザイン */
.gMenu .menu li:first-of-type {
  padding-top: 50px;
}
.gMenu .menu li a {
  display: block;
  padding: 24px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
}
.gMenu .menu li a:hover {
  background-color: #f4f4f4;
}
/* チェックボックスは常に非表示 */
.gMenu .menu-btn {
  display: none;
}
/* ▼▼▼以下はチェックボックスがONの時の状態▼▼▼ */
.gMenu .menu-btn:checked ~ .menu {
  max-height: 338px; /* ★チェックボックスがオンの時高さを338pxにして表示 */
  transition: max-height .6s;
}
/* メニューボタンの中央の線を非表示に */
.gMenu .menu-btn:checked ~ .menu-icon .navicon:nth-child(2) {background: transparent;}
/* メニューボタンの上下の線を45度傾けて✕印 */
.gMenu .menu-btn:checked ~ .menu-icon .navicon:nth-child(1) {transform: rotate(-45deg);top: 0;}
.gMenu .menu-btn:checked ~ .menu-icon .navicon:nth-child(3) {transform: rotate(45deg);top: 0;}
/* サイトに合わせてオリジナルカスタマイズ */
.gMenu .menu-icon {
  top: 3rem;
  right: 7rem;
}