*, *::before, *::after {
  box-sizing: border-box;
}
body {
    text-align: center;
    color: #000000;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.8;
}
header{
    width: 100vw;    
    background: url(../img/boat.jpg) center / cover;
    height: 550px;
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15%; */
    position: relative;
}
h1{
    font-size: 3rem;
    font-weight: bold;
    background: #ffffff;
    color: #326C99;
    padding: 4rem 3rem;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 1;
}
h2{
    font-size: 1.5rem;
    padding: 30px 0;
    color: #214d6e;
}
h3{
    font-size: 1.2rem;
    padding: 30px 0;
    color: #326C99;
}
#top-section{
    height: 250px;
    background-color: #E2EAEE;
    position: relative;
}
/* イルカのアイコン（青） */
#top-section::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 20%;
    background-image: url("../img/icon2.png");
    background-repeat: no-repeat;
    background-size: 70px 70px;
    width: 100%;
    height: 100%;
}
/* イルカのアイコン(白) */
#top-section::after{
    content: "";
    position: absolute;
    top: 50px;
    left: 80%;
    background-image: url("../img/icon.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    width: 100%;
    height: 100%;
}
.middle-section{
    background-color: #ffffff;
    padding: 30px 0;
}
#dolphin-img{
    max-width: 80%;
    margin: 40px auto;
}
#bottom-section{
    background-color: #F3F3F3;
    padding: 30px 0;
}
footer{
    color: #ffffff;
    background-color: #3A4252;
    padding: 10px 0;
}
